@import "tailwindcss";
@source "../views";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Paleta de colores principal */
    --color-primary-dark: #1d443c;
    --color-primary-light: #f2fbf8;

    --color-50:#f2fbf8;
    --color-100:#d4f3e8;
    --color-200:#a9e6d3;
    --color-300:#76d2b8;
    --color-400:#57bca3;
    --color-500:#319b83;
    --color-600:#257c6a;
    --color-700:#216457;
    --color-800: #1e5147;
    --color-900: #1d443c;
    --color-950: #0c2724;
    

    --color-header-dark: #0C2724;
    --color-footer-dark:#0C2724;
    --color-footer-light:#257c6a;
    /* Tipografía */
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Inter', sans-serif;
}

.box {
    @apply bg-[var(--color-50)] dark:bg-[var(--color-900)] hover:bg-[var(--color-100)] dark:hover:bg-[var(--color-800)] border border-[var(--color-200)] dark:border-[var(--color-700)] rounded-2xl;
}

.box-2 {
    @apply bg-[var(--color-50)] dark:bg-[var(--color-900)] border border-[var(--color-200)] dark:border-[var(--color-700)] rounded-2xl;
}

.clickButton {
    @apply dark:bg-gradient-to-b dark:from-500 dark:to-600 bg-gradient-to-b from-700 to-800 text-50 font-semibold rounded-full hover:bg-gradient-to-b hover:from-600 hover:to-700 dark:hover:from-400 dark:hover:to-500 transition cursor-pointer hover:translate-y-0.5;
}

.sectionCols {
    @apply dark:hover:bg-600 hover:bg-600 hover:text-50;
}

.statistics {
    @apply flex items-center p-4 shadow hover:shadow-md transition-transform transform hover:-translate-y-1 cursor-pointer;
}

.textTerm {
    @apply font-medium text-600 dark:text-50;
}

.textTerm2{
    @apply mt-1 text-800 dark:text-200;
}

.borderTerm {
   @apply text-xl font-semibold text-950 dark:text-50 border-l-4 border-500 pl-4 mb-4;
}

.boxTerm{
    @apply bg-100 dark:bg-600 p-4 rounded-xl border border-300 dark:border-400;
}

body {
    font-family: var(--font-primary);
}