@import "tailwindcss";
@source "../views";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Paleta de colores principal */
    --color-primary-light: #1d443c;
    --color-primary-dark: #f2fbf8;
    --color-secondary: #7209b7;
    --color-accent: #4cc9f0;
    --color-success: #4ade80;
    --color-warning: #fbbf24;
    --color-danger: #f87171;
    --color-dark: #1e293b;
    --color-light: #f8fafc;
    --color-gray: #94a3b8;
    --color-gray-light: #e2e8f0;
    
    /* Tipografía */
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Inter', sans-serif;
}

body {
    font-family: var(--font-primary);
}